<div class="item-post">
  <div class="item-post-img">
    <img src={{post.image}} onerror="this.onerror=null;this.src='https://popupsmart.com/encyclopedia/images/b/r/o/k/e/broken-link-image-adccb55a.png'" alt="">
  </div>
  <div class="item-post-title">
    <div class = "inner-item-post">
        <h3>{{post.title}}</h3>
    </div>
  </div>
  <div class="item-post-text">
    <div class = "inner-item-post">
      <p>{{post.body}}</p>
    </div>
  </div>
  <div class="item-post-vermais">
    <div class = "inner-item-post">
        <a [ngStyle] = "{color:'blue'}" routerLink = "/detalhes/{{post.id}}">Ler Mais</a>
    </div>
  </div>
</div>
