<div class="sidebar-container">
  <div class="sidebar-section">
    <p class="sidebar-title">Categorias</p>
    <p class = "sidebar-item">Lorem ipsum dolor</p>
    <p class = "sidebar-item">Lorem ipsum dolor</p>
    <p class = "sidebar-item">Lorem ipsum dolor</p>
    <p class = "sidebar-item">Lorem ipsum dolor</p>
  </div>
  <div class="sidebar-section">
        <p class="sidebar-title">Procurando alguma notícia?</p>
        <div class="wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="Pesquise por">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
  </div>
</div>
